{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/aboutUsPageStyle.css") }}">
{% endblock %}
{% block body %}

    <div class="call-us-container container  p-0 col-12 m-0 ">
        <div class="image-container col-12 m-0   ">
            <img src="{{ asset("images/aboutUs/call-us.png") }}" alt="">
                <h1>За нас</h1>
                <p>Треайно унищожаване на всякакви гадини</p>
                <button class="call-us-button">Обади ни се </button>
        </div>
    </div>
    <div class="wh-r-terminator col-11 col-md-10 mx-auto mt-5 mb-5 pt-3 pb-3">
        <h2 class="text-center">Кои са Унищожителите?</h2>
        <hr class="col-1 mx-auto">
        <p class="col-12 col-md-8 col-lg-8 mx-auto text-center">Унищожители са професионален екип за борба с вредителите, които нагло нападат домовете, заведенията, магазините, градините и други обекти на хората! Ние гарантираме, че ще унищожим вашите нагли вредители трайно,безвредно и бързо.</p>
    </div>

    <div class="col-12 container wh-us-container row m-0 p-3">
        <div class="col-11 col-md-10 col-lg-10 mx-auto justify-content-around row">
            <div class="text-wrapper pt-2 col-12  col-md-6 col-lg-6">
                <h3 >Защо да избирам Унищожители?</h3>
                <hr class="col-2">
                <p>При извършване на всички ДДД услуги, ние използва иновативни методи за борба с вредители в комбинация с най-ефективните пест препарати за професионална употреба, които действат дори и върху т.н резистентни (устойчиви) популации от насекоми, акари и гризачи.
                    <br><br>
                    Дейността се осъществява под контрола на РЗИ (бивше ХЕИ), Министерство на здравеопазването (МЗ) и Българска агенция по безопасност на храните (БАБХ).
                    <br><br>
                    Съществуваме от 2008г. и имаме индивидуален подход към всеки клиент независимо от вида и площта му, като постигаме отлични резултати, както в жилища така и в търговски обекти от всякакъв тип и размер. Препаратите, които употребяваме са от най-ново поколение като голяма част от тях са без цвят и миризма и не са канцерогенни (нямат ракообразуващо действие).</p>
            </div>
            <div class="col-12 col-md-5 col-lg-5 my-auto">
                <img src="{{ asset("images/aboutUs/unishotjiteli-za-nas.png") }}" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 container wh-us-extended-container  row m-0 p-4 ">
        <div class="col-11 col-md-10 col-lg-10 mx-auto justify-content-around row m-0 p-0 ">
            <div class="col-12 col-md-5 col-lg-5 my-auto   ">
                <img src="{{ asset("images/aboutUs/unishotjiteli-za-nas-preparati.png") }}" alt="">
            </div>
            <div class="text-wrapper col-12 col-md-6 col-lg-6 mt-4 mt-md-0 mt-lg-0">
                <p>В следствие на предлаганото високо качество, фирмата ни изгради филиали в градовете в София, Пазарджик, Пловдив, Стара Загора, Сливен, Бургас, Варна, Добрич, Благоевград и е една от най-бързо развиващите се ДДД фирми в България.
                    <br><br>
                    Унищожаваме и прогонваме повече от 20 различни вида вредители и постоянно разширяваме познанията си за да можем да предлагаме възможно най-качествените ДДД услуги у нас.
                    <br><br>
                    Работим по съвременни методи и със специализирана техника, която позволява достъп и до най-трудно достъпните места.
                    Предлагаме високо качество гарантиращо вашето спокойствие, чрез спазване на всички съвременни изисквания за опазване здравето на клиентите и околната среда и същевременно постигане на гарантиран дълготраен ефект.
                    Освен унищожаване на насекоми и гризачи и извършване на дезинфекция, фирмата предлага и решения за прогонване на змии, гущери, котки и кучета, без да ги наранява, тъй като те не са типични вредители, а някои от тях са и защитени от закона.</p>
            </div>
        </div>
    </div>

    <div class="col-12 container row p-5 m-0">
        <div class="col-11 our-principle m-0 p-0 mx-auto">
            <h3 class="text-center">Нашите принципи</h3>
            <hr class="col-1 mx-auto">
            <div class="col-12 col-md-7 col-lg-7 mx-auto">
                <p class="text-left">
                    <i class="fas fa-check"></i>Да посещаваме клиента в удобен за него ден и час.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Да спазваме разходните норми на професионалните пест препарати според техните предписания.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Да правим обратна връзка след първата обработка, за второто окончателно третиране.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Да издаваме протокол с нужните описания за извършената обработка.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Да пристигаме навреме – Дезинфекторите пристигат навреме в уговорения ден и час (+)-10 мин.,освен ако не сме възпрепятствани от трафика.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Работим без почивен ден за пълното удобство на нашите клиенти.
                </p>
                <p class="text-left">
                    <i class="fas fa-check"></i>Основна цел е всеки клиент да остане максимално удовлетворен от професионалните услуги и ако отново се нуждае от услугите на Унищожители да се довери пак на нас.
                </p>

            </div>
            

        </div>
    </div>




{% endblock %}