hr{
    border-width: 5px
}

.wh-us-container {
    background-color: #6C1009;
    color: white;
}
.wh-us-extended-container{
    color: white;
    background-color: #41776F;
}

.wh-r-terminator p,.wh-us-container p, .wh-us-extended-container p {
    font-size: 0.9rem;

}
.wh-us-container p, .wh-us-extended-container p {
    color: rgb(226, 222, 222);
    font-size: 0.85rem;
}


.wh-r-terminator hr{
    background-color: #6C1009;
}
.wh-us-container hr {
    background-color: rgb(246, 206, 11);
}


.wh-us-container img , .wh-us-extended-container img{
    width: 100%;
}
.our-principle p {
    font-size: 0.9rem;

}
.our-principle i {
    color: green;
    margin-right: 0.9em;
    font-size: 1.1em;
}

.call-us-container img {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.call-us-container h1{
    position: absolute;
    top: 30%;
    left: 13%;
    color: white;
}

.call-us-container p{
    position: absolute;
    z-index: 100000;
    color: white;
    left: 13%;
    top: 50%;
    font-size: 1.1rem;
}

.call-us-button{
    position: absolute;
    z-index: 100000;
    color: white;
    left: 13%;
    top: 62%;
    text-transform: uppercase;
    padding: 0.4rem 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 25px;
    border: none    ;
    background-color: rgba(255, 255, 255, 0.49);
}
.image-container{
    position: relative;
    padding-top: 40.1%;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .wh-r-terminator p,.wh-us-container p, .wh-us-extended-container p {
        font-size: 1rem;

    }

    .wh-us-container p, .wh-us-extended-container p {
        color: rgb(226, 222, 222);
        font-size: 0.95rem;
    }

    .our-principle p {
        font-size: 1rem;

    }
    .image-container{
        padding-top: 60vh;
    }

    .call-us-container p {
        width: 50%;
        top: 43%;
    }
    .call-us-button {
        top: 58%;
        font-size: 0.9rem;
    }
}