
.insect-information-header {
    padding-top: 59%;
}
.insect-information-header h4{
    font-size: 1.2em;
    font-weight: normal;
}
.insect-information-header span {
    font-size: 1.3em;
    font-weight: bold;
}
.information-card-text h5, .information-card-text h6 {
    font-weight: normal;
}

.insect-price-information:hover {
    background-size: red    ;
}

.all-insects-container .insect {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.all-insects-container .insect img {
    width: 90%;
    height: 100%;
}

.all-insects-container .insect  p{
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;

}